.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding:0px;
    
  }
  .header {
      float: left;
      width: 100%;
      background:#1d1c1c;
  }
  .foorter{
      float: left;
      width: 100%;
      text-align: center;
      padding: 5px 0px !important;
      font-size: 14px;
      color: #000;
      background: #fff;
  }
  .fltleft{float: left;
      width:46%;
      padding: 1%;
      font-size: 16px;
     color:#000;
  
  }
  .fltright{float: right;
      padding: 1%;
      font-size: 16px;
     color:#000;
  
  }
  li, label, ul, a {
  width:auto;
  color: #000;
  display: block;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  }
  .nav-area ul label {
  height: 35px;
  }
  .nav-area ul li {
  height: 35px;
  overflow: hidden;
  transition: all .3s;
  display: block;
  background-color: deepskyblue;
  }
  
  .nav-area label {
  font-size: 14px;
  background: #FFF;
  padding: 10px 15px;
  cursor: pointer;
  transition: all .25s;
  }
  .nav-area a{
  font-size: 12px;
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 8px 25px;
  transition: all .25s;
  }
  .nav-area a:hover {
  background-color: #262626;
  }
  
  .nav-area input[type="radio"] {
  display: none;
  }
  #about:checked + li, #services:checked + li, #portfolio:checked + li {
  height: 180px;
  }
  .wrapper1{
      width: 18%;
      float: left;
  }
  .wrapper2{
      width: 18%;
      float: left;
      height:125px;
      border: 1px solid #000;
      margin:26%;
      margin: 5% 27% !important;
  }
  
  @media screen and (max-width: 600px){
  nav {
  width: 100%;
  position: relative;
  }
  .left-content h1{
  font-size: 28px;
  }
  .left-content {
  width: 100%;
  position: relative;
  }
  
  }