
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table {
    border: 4px solid black;
}

th {
    background: #e7e742;
}

.brand_item {
    background: #aad2e3;
}